Source: ros-humble-rosbag2rawlog
Section: misc
Priority: optional
Maintainer: Markus Bader <markus.bader@tuwien.ac.at>
Build-Depends: debhelper (>= 9.0.0), cmake, libcli11-dev, ros-humble-ament-cmake, ros-humble-ament-cmake-lint-cmake, ros-humble-ament-cmake-xmllint, ros-humble-ament-lint-auto, ros-humble-cv-bridge, ros-humble-mrpt-libmaps, ros-humble-mrpt-libros-bridge, ros-humble-mrpt-msgs, ros-humble-nav-msgs, ros-humble-rosbag2-cpp, ros-humble-sensor-msgs, ros-humble-tf2-geometry-msgs, ros-humble-tf2-msgs, ros-humble-tf2-ros, ros-humble-ros-workspace
Homepage: https://github.com/mrpt/mrpt_ros_bridge
Standards-Version: 3.9.2

Package: ros-humble-rosbag2rawlog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcli11-dev, ros-humble-ament-cmake-lint-cmake, ros-humble-ament-cmake-xmllint, ros-humble-ament-lint-auto, ros-humble-cv-bridge, ros-humble-mrpt-libmaps, ros-humble-mrpt-libros-bridge, ros-humble-mrpt-msgs, ros-humble-nav-msgs, ros-humble-rosbag2-cpp, ros-humble-sensor-msgs, ros-humble-tf2-geometry-msgs, ros-humble-tf2-msgs, ros-humble-tf2-ros, ros-humble-ros-workspace
Description: CLI tool to transform between rosbags and rawlogs.
